@import url("https://fonts.googleapis.com/css?family=K2D:200,300,400,500,700,800");
* {
  margin: 0;
  padding: 0;
  outline: none; }

body {
  font-family: 'K2D', sans-serif;
  font-weight: 300;
  font-size: 13px; }

.container {
  display: flex;
  padding: 15px 20px;
  height: 90vh; }

.searchForm {
  width: 25%;
  padding: 20px 0px; }

.right {
  width: 70%; }

.resultContainer {
  height: 90vh;
  padding: 20px 20px;
  background: #f7f7f7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  overflow: auto; }

.firstRadio {
  margin-right: 20px; }

.flex {
  display: flex; }

.flex-direction {
  flex-direction: column; }

.flex-align {
  align-items: center; }

.flex-between {
  justify-content: space-between; }

.radioList > div {
  margin-right: 20px; }

.form-group input[type="text"], .form-group input[type="date"] {
  padding: 5px 5px;
  width: 48%;
  border: 1px solid #d0d0d0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05); }

.searchForm .form-group label.title {
  display: block;
  margin-bottom: 10px; }

button, select, input {
  font-family: 'K2D', sans-serif; }

select, input[type="text"], input[type="date"] {
  height: 31px;
  box-sizing: border-box; }

button[disabled] {
  background: #2f3542;
  border: 1px solid #2f3542;
  color: #a0a0a0; }

button[disabled]:hover {
  cursor: not-allowed;
  color: #a0a0a0; }

.btn {
  padding: 5px 0px;
  border-radius: 2px;
  background: #ca294e;
  color: #FFF;
  font-weight: 600;
  font-size: 1.1em;
  border: 1px solid #ca294e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05); }

.btn:hover {
  background: #2f3542;
  color: #FFF;
  cursor: pointer;
  border: 1px solid #2f3542; }

.searchForm .form-group button {
  width: 100%;
  margin-top: 20px; }

.right button {
  padding: 5px 25px; }

.right input[type="text"] {
  width: 100%; }

.btn i {
  padding-right: 4px; }

.form-group select {
  padding: 5px 5px;
  background: #efefef;
  border: 1px solid #d0d0d0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05); }

.searchForm .form-group.results {
  display: block;
  text-align: center; }

.form-group + .form-group {
  margin-top: 30px; }

.right .form-group {
  margin-top: 30px; }

table.resultList {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  border-collapse: collapse;
  line-height: 20px; }

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20px; }

table.resultList tbody > tr:nth-child(2n) {
  background: #efefef; }

table.resultList td {
  padding: 4px 0; }

table.resultList tr > th:nth-child(1) {
  width: 15%; }

table.resultList tr > th:nth-child(2) {
  width: 50%; }

table.resultList tr > th:nth-child(3) {
  width: 20%; }

table.resultList tr > th:nth-child(4) {
  width: 15%; }

.btn-hor-group .form-group:first-child {
  margin-right: 15px; }

.searchNumber {
  display: none; }

.searchDate input {
  width: 60% !important; }

.searchDate input:first-child {
  margin-bottom: 5px; }

.searchDate {
  display: none; }

.show {
  display: block; }

.circle-loader {
  margin-right: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left-color: #ca294e;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 2em;
  height: 2em; }

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #ca294e;
  transition: border 500ms ease-out; }

.checkmark {
  display: none; }

.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg); }

.checkmark:after {
  opacity: 1;
  height: 1em;
  width: 0.5em;
  transform-origin: left top;
  border-right: 3px solid #ca294e;
  border-top: 3px solid #ca294e;
  content: '';
  left: 0.3em;
  top: 1em;
  position: absolute; }

@keyframes loader-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1; }
  20% {
    height: 0;
    width: 0.5em;
    opacity: 1; }
  40% {
    height: 1em;
    width: 0.5em;
    opacity: 1; }
  100% {
    height: 1em;
    width: 0.5em;
    opacity: 1; } }

#Config .dbConfig {
  width:50%;
  height: 350px;
}

#Config {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #FEFEFE;
}

#Config {
  height: 90vh;
}

#Config h2, #App h2 {
  font-weight: 300;
  color: #2d3436;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 40px;
}

#Config h2 i, #App h2 i {
  color:#444444;
}

#Config label {
  text-transform: uppercase;
  color: #474e50;
  font-size: 13px;
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  margin-top: 3px;
}

#Config .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  justify-content: center;
}

#Config .form-group > div {
  position: relative;
}

#Config .form-group > div > i {
  position: absolute;
  top:5px;
  left:7px;
}

#Config .form-group > div > i:hover {
  cursor: pointer;
  color: #242627;
}

#Config .form-group i {
  color:#474e50;
}

#Config .form-group > span {
  font-size: 11px;
  text-align: center;
  color: #6d6d6d;
  font-style: italic;
  padding-top: 3px;
}

#Config input[type="text"], #Config input[type="password"] {
  border: 1px solid #bfbfbf;
  padding: 5px 8px;
  border-radius: 3px;
  background: #ecf1f5;
  color: #3c4244;
  width: 300px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  font-size:13px;
  text-align: center;
}

#Config input:focus {
  border:1px solid #252525;
}

#Config .dbConfig input[type="text"], #Config .dbConfig input[type="password"] {
  width:230px;
}

#Config .dbConfig > div:first-child > input {
  width: 300px;
}

#Config select {
  border: 1px solid #bfbfbf;
  padding: 5px 8px;
  border-radius: 3px;
  color: #3c4244;
  width: 150px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  font-size: 13px;
  background: #ecf1f5;
}

#Config .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#Config button {
  display: block;
  margin-top: 40px;
  border-radius: 3px;
  background: linear-gradient(to bottom right, #0574e6, #0575E6);
  border: none;
  padding: 7px 90px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 1px 8px rgba(0, 91, 156, 0.65);
  font-weight: bold;
}

#Config button:hover {
  background: linear-gradient(to bottom right, #0563c3, #0574e6);
  cursor: pointer;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}

.rotatingFast {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
