@import url('https://fonts.googleapis.com/css?family=K2D:200,300,400,500,700,800');

* {
    margin:0;
    padding:0;
    outline:none;
}

body {
    font-family: 'K2D', sans-serif;
    font-weight:300;
    font-size:13px;
}

.container {
    display:flex;
    padding:15px 20px;
    height:90vh;
}
.searchForm {
    width:25%;
    padding:20px 0px;
}

.right {
    width:70%;
}

.resultContainer {
    height:90vh;
    padding: 20px 20px;
    background: #f7f7f7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow:auto;
}

.firstRadio { margin-right: 20px; }

.flex               { display: flex; }
.flex-direction     { flex-direction:column; }
.flex-align         { align-items:center; }
.flex-between       { justify-content: space-between; }

.radioList > div {
    margin-right: 20px;
}

.form-group input[type="text"], .form-group input[type="date"] {
    padding:5px 5px;
    width: 48%;
    border: 1px solid #d0d0d0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.searchForm .form-group label.title {
    display:block;
    margin-bottom:10px;
}

button, select, input {
    font-family: 'K2D', sans-serif;
}

select, input[type="text"], input[type="date"] {
    height:31px;
    box-sizing:border-box;
}

button[disabled] {
    background:#2f3542;
    border: 1px solid #2f3542;
    color:#a0a0a0;
}

button[disabled]:hover {
    cursor:not-allowed;
    color:#a0a0a0;
}

.btn {
    padding: 5px 0px;
    border-radius: 2px;
    background: #ca294e;
    color:#FFF;
    font-weight:600;
    font-size:1.1em;
    border: 1px solid #ca294e;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.btn:hover {
    background: #2f3542;
    color: #FFF;
    cursor: pointer;
    border: 1px solid #2f3542;
}

.searchForm .form-group button {
    width:100%;
    margin-top: 20px;
}

.right button {
    padding:5px 25px;
}

.right input[type="text"] {
    width:100%;
}

.btn i {
    padding-right:4px;
}

.form-group select {
    padding: 5px 5px;
    background: #efefef;
    border: 1px solid #d0d0d0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.searchForm .form-group.results {
    display:block;
    text-align:center;
}

.form-group + .form-group {
    margin-top:30px;
}

.right .form-group {
    margin-top:30px;
}

table.resultList {
    width:100%;
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
    line-height:20px;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
}

table.resultList tbody > tr:nth-child(2n) { background:#efefef; }
table.resultList td { padding:4px 0;}

table.resultList tr > th:nth-child(1) { width:15%; }
table.resultList tr > th:nth-child(2) { width:50%; }
table.resultList tr > th:nth-child(3) { width:20%; }
table.resultList tr > th:nth-child(4) { width:15%; }

.btn-hor-group .form-group:first-child {
    margin-right:15px;
}

.searchNumber   { display: none; }
.searchDate input { width: 60% !important; }
.searchDate input:first-child { margin-bottom: 5px; }
.searchDate     { display: none; }
.show           { display: block; }

// Define vars we'll be usingg
$brand-success: #ca294e;
$loader-size: 2em;
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($loader-size/6 + $loader-size/12);
$check-thickness: 3px;
$check-color: $brand-success;

.circle-loader {
    margin-right:10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-left-color: $check-color;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: $loader-size;
    height: $loader-size;
}

.load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: $check-color;
    transition: border 500ms ease-out;
}

.checkmark {
    display: none;

&.draw:after {
     animation-duration: 800ms;
     animation-timing-function: ease;
     animation-name: checkmark;
     transform: scaleX(-1) rotate(135deg);
 }

&:after {
     opacity: 1;
     height: $check-height;
     width: $check-width;
     transform-origin: left top;
     border-right: $check-thickness solid $check-color;
     border-top: $check-thickness solid $check-color;
     content: '';
     left: 0.3em;
     top: $check-height;
     position: absolute;
 }
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: $check-width;
        opacity: 1;
    }
    40% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }
    100% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }
}